@charset "UTF-8";

@font-face { 
  font-family:"DTMono";
  src: url('Fonts/determination-mono.ttf');
}

/*html {
     cursor: url('Components/Images/Soul.png'), auto;
}*/

body {
    max-width: 500px;
    margin: auto;
    font-family: "DTMono";
    font-size: 150%;
    background-color: #1c193a;
    color:#FFFFFF;
}

h1 {
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.616);
    font-style:none;
    font-weight:normal;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #c2c2c2;
}



a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
}


hr {
display:block;
border-radius:3px;
border:1px solid;
width: auto;
}


/* .well {

font-size: 20
}
*/

  .sillything {
    color:#c2c2c2;
    font-size:  75%;
  }
